.aboutPage {
  padding: 20px;
}

.personSection {
  margin-bottom: 40px;
}

.person {
  margin-bottom: 20px;
}

.sideBySide {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #f1f1f1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.contact, .companyDetails {
  width: 45%;
}